---
import Layout from "../layouts/Layout.astro";
import JobListings from "../components/job-listings.astro";
import { pageSectionCss } from "../styles/page-section";
import { css } from "../../stitches.config";
import { spacing, stackCss } from "../styles/spacing";
---

<Layout title="Omar Diab">
  <header class={css(pageSectionCss)()}>
    <p class={css({ fontSize: "2rem", maxWidth: "80%" })()}>
      I design and implement simple, powerful, and maintainable products, from
      start to finish.
    </p>
  </header>
  <section
    id="workHistory"
    class={css(pageSectionCss, stackCss({ gap: spacing.m }))()}
  >
    <h2>Work History</h2>
    <JobListings />
  </section>
</Layout>
