---
import Layout from "../layouts/Layout.astro";
import JobListings from "../components/job-listings.astro";
import { pageSectionCss } from "../styles/page-section";
import { css } from "../../stitches.config";
import { spacing, stackCss } from "../styles/spacing";
import BlogPosts, { PostFrontmatter } from "../components/blog-posts.astro";

const posts = (await Astro.glob<PostFrontmatter>("./post/*.mdx"))
  .filter((p) => !p.frontmatter.draft)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).getTime() -
      new Date(a.frontmatter.date).getTime()
  );
const sectionCss = css(pageSectionCss, stackCss({ gap: spacing.m }))();
---

<Layout title="Omar Diab">
  <header class={css(pageSectionCss)()}>
    <p class={css({ fontSize: "2rem", maxWidth: "80%" })()}>
      I design and implement simple, powerful, and maintainable products, from
      start to finish.
    </p>
  </header>
  {
    posts.length > 0 && (
      <section id="posts" class={sectionCss}>
        <h2>Posts from Omar</h2>
        <BlogPosts posts={posts} />
      </section>
    )
  }
  <section id="workHistory" class={sectionCss}>
    <h2>Work History</h2>
    <JobListings />
  </section>
</Layout>
