---
import Layout from "../layouts/Layout.astro";
import JobListings from "../components/job-listings.astro";
import BlogPosts, { PostFrontmatter } from "../components/blog-posts.astro";
import classNames from "classnames";
import { pageSectionCss } from "../styles/page-section.css";
import { stackCss } from "../styles/spacing.css";
import { headingTextCss } from "../components/home-page.css";
import { textCss } from "../styles/text.css";

const posts = (await Astro.glob<PostFrontmatter>("./post/*.mdx"))
  .filter((p) => !p.frontmatter.draft)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).getTime() -
      new Date(a.frontmatter.date).getTime()
  );

const sectionCss = classNames(pageSectionCss, stackCss({ gap: "m" }));
---

<Layout title="Omar Diab">
  <header class={pageSectionCss}>
    <h2
      class={classNames(
        textCss({ weight: "normal", size: "xl" }),
        headingTextCss
      )}
    >
      I design and implement simple, powerful, and maintainable products, from
      start to finish.
    </h2>
  </header>
  {
    posts.length > 0 && (
      <section id="posts" class={sectionCss}>
        <h2>Posts from Omar</h2>
        <BlogPosts posts={posts} />
      </section>
    )
  }
  <section id="workHistory" class={sectionCss}>
    <h2>Work History</h2>
    <JobListings />
  </section>
</Layout>
