---
import type { MarkdownInstance } from "astro";

export interface PostFrontmatter {
  title: string;
  description: string;
  date: string;
  tags?: string[];
  draft?: boolean;
}

export interface Props {
  posts: MarkdownInstance<PostFrontmatter>[];
}
const { posts } = Astro.props as Props;
---

<ul>
  {
    posts.map(({ url, frontmatter: { title, description } }) => (
      <li>
        <a href={url}>
          <article>
            <h3>{title}</h3>
            <p>{description}</p>
          </article>
        </a>
      </li>
    ))
  }
</ul>
