---
import JobListing from "./job-listing.astro";
import { jobListCss, jobListItemCss } from "./job-listing.css";
import { Link } from "./link";
---

<ul class={jobListCss}>
  {
    [
      <JobListing
        companyName="Every.org"
        companyTagline="Donate to any charity and share your learnings to advance good."
        companyUrl="https://www.every.org"
        jobTitle="Cofounder and Head of Engineering"
        timeAtJob="2018-2021"
      >
        <p>
          Every.org is the easiest way to give to any nonprofit, and seeks to
          make giving a central part of everyone&rsquo;s day to day lives.
        </p>
        <p>
          Along with being a driving force in its product and design, I trained
          our engineering team to become experts in our modern web development
          stack, allowing us to move faster, retain engineers and innovate
          without piling up technical debt.
        </p>
      </JobListing>,
      <JobListing
        companyName="Clever"
        companyTagline="The most widely used single sign‑on platform for K–12 education."
        companyUrl="https://www.clever.com"
        jobTitle="Full-Stack Software Engineer"
        timeAtJob="2013-2016"
      >
        <p>
          <strong>
            Omar co-implemented{" "}
            <Link href="https://clever.com/products/badges">Clever Badges</Link>
          </strong>
          : the simplest way for young students to log into educational
          services. Young children have trouble remembering passwords, so Clever
          Badges lets them log in with QR codes instead.
        </p>
        <p>
          Focusing on empowering students and teachers, I built out core
          functionality, analyzed and maintained server capacity, and
          evangelized modern web-development practices, helping Clever cement
          its reputation as a leader in education technology.
        </p>
      </JobListing>,
      <JobListing
        companyName="Backplane"
        companyTagline="Niche social networks with purpose."
        jobTitle="Backend Software Engineering Intern"
        timeAtJob="2011-2013"
      >
        <p>
          As an early backend engineer I helped build the technical
          infrastructure for hundreds of thousands of fans to connect with Lady
          Gaga on her social network Little Monsters.
        </p>
      </JobListing>,
    ].map((item) => <li class={jobListItemCss}>{item}</li>)
  }
</ul>
