---
import { Link } from "../components/link";
import { stackCss } from "../styles/spacing.css";
import { footerCopyrightCss, footerCss } from "./footer.css";
---

<footer class={footerCss}>
  <div class={stackCss({ gap: "xxs", alignItems: "center" })}>
    <p>
      <strong>Want to chat?</strong> Feel free to{" "}
      <Link href="mailto:hello@omardiab.com">shoot me an email.</Link>
    </p>
    <p>
      This site is hosted globally with <Link href="https://deno.com/deploy"
        >Deno Deploy</Link
      >, built with <Link href="https://astro.build/">Astro</Link> and <Link
        href="https://preactjs.com/">Preact</Link
      >.
    </p>

    <p>
      Like it? <Link href="https://github.com/osdiab/omardiab.com"
        >Fork it.</Link
      >
    </p>
  </div>
  <p class={footerCopyrightCss}>
    Omar Diab, {new Date().getFullYear()}
  </p>
</footer>
