---
import { css } from "@stitches/react";
import { Link } from "../components/link";
import { pageSectionCss } from "../styles/page-section";
import { spacing, stackCss } from "../styles/spacing";
---

<footer class={css(stackCss({ gap: spacing.m }))()}>
  <section
    id="contact"
    class={css(pageSectionCss, stackCss({ gap: spacing.m }))()}
  >
    <h2>Get in touch</h2>
    <p>
      Feel free to{" "}
      <Link href="mailto:hello@omardiab.com">shoot me an email</Link>
      {" or "}
      <Link href="https://linkedin.com/in/osdiab">check my LinkedIn.</Link>
    </p>
  </section>
  <section
    id="fork-github"
    class={css(
      pageSectionCss,
      stackCss({ gap: spacing.s, alignItems: "center" }),
      { textAlign: "center" }
    )()}
  >
    <p>
      Like this site? Feel free to{" "}
      <Link href="https://github.com/osdiab/omardiab.com">
        fork it on Github{" "}
        and make it your own.
      </Link>
    </p><p>Omar Diab, {new Date().getFullYear()}</p>
  </section>
</footer>
