---
import classNames from "classnames";
import { Link } from "../components/link";
import { pageSectionCss } from "../styles/page-section.css";
import { stackCss } from "../styles/spacing.css";
import { textCss } from "../styles/text.css";
---

<footer class={stackCss({ gap: "m" })}>
  <section
    id="contact"
    class={classNames(pageSectionCss, stackCss({ gap: "m" }))}
  >
    <h2>Get in touch</h2>
    <p>
      Feel free to{" "}
      <Link href="mailto:hello@omardiab.com">shoot me an email</Link>
      {" or "}
      <Link href="https://linkedin.com/in/osdiab">check my LinkedIn.</Link>
    </p>
  </section>
  <section
    id="fork-github"
    class={classNames(
      pageSectionCss,
      stackCss({ gap: "s", alignItems: "center" }),
      textCss({ textAlign: "center" })
    )}
  >
    <p>
      Like this site? Feel free to{" "}
      <Link href="https://github.com/osdiab/omardiab.com">
        fork it on Github{" "}
        and make it your own.
      </Link>
    </p><p>Omar Diab, {new Date().getFullYear()}</p>
  </section>
</footer>
