---
import { css } from "@stitches/react";
import avatarImg from "../assets/avatar-600.jpg";
import { pageSectionCss } from "../styles/page-section";
import { palette } from "../styles/palette";
import { spacing, stackCss } from "../styles/spacing";
import { boldCss } from "../styles/text";
---

<header
  class={css(
    stackCss({ gap: spacing.m, alignItems: "center", flexDirection: "row" }),
    pageSectionCss
  )()}
>
  <img
    class={css({ width: "150px", height: "150px", objectFit: "cover" })()}
    src={avatarImg}
    alt="Portrait of Omar Diab"
  />

  <h1
    class={css(boldCss, {
      "& b": { color: palette.primary, display: "inline-block" },
    })()}
  >
    Hi, I&rsquo;m <b>Omar Diab</b>
  </h1>
</header>
