---
import classNames from "classnames";
import avatarImg from "../assets/avatar-600.jpg";
import { stackCss } from "../styles/spacing.css";
import { pageSectionCss } from "../styles/page-section.css";
import {
  avatarCss,
  headingTextCss,
  headingTheme,
  nameHighlightCss,
} from "./header.css";
---

<header
  class={classNames(
    headingTheme,
    stackCss({ gap: "m", alignItems: "center", flexDirection: "row" }),
    pageSectionCss
  )}
>
  <img class={avatarCss} src={avatarImg} alt="Portrait of Omar Diab" />

  <h1 class={headingTextCss}>
    Hi, I&rsquo;m <b class={nameHighlightCss}>Omar Diab</b>
  </h1>
</header>
